{% extends "@K2Backend/default.twig" %}

{% block page_header "Auditorías del Sistema" %}

{% block content %}
<div class="well barra_crud">
    {{ render('@K2Backend/logs/filtro', [filtro|default]) }}
</div>
<div id="logs">{% include '@K2Backend/logs/index.tabla.twig' %}</div>
{% endblock %}
{% block javascript %}
<script>
$(function(){
    $('#logs').on('click', '.pagination li:not(.active,.disabled) a', function(event){
        event.preventDefault()
        var form = $("#logs_filtro")
        $.post(this.href,form.serialize()).done(function(html){
            $('#logs').html(html)            
        })
    })
     $("#logs_filtro").on('submit', function(event){
        event.preventDefault()
        $.post(this.action,$(this).serialize()).done(function(html){
            $('#logs').html(html)            
        })        
    })
})
</script>
{% endblock %}