<div id='cabecera' class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ url('') }}" class="brand">App K2Framewrok</a>
            <div class="nav-collapse pull-right">
                <ul class="nav">
                    <li><a href="{{ url('@K2Backend/usuarios') }}">Administración</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>