{% extends "@K2Backend/default.twig" %}

{% block content %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    No tienes permisos para acceder a la ruta: <b>{{ url }}</b>
</div>
{% endblock content %}
